/* 首页 */
.pdf-button, .whitepaper_pdf_btn, .cooperation_link_btn {
    position: relative;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 230px;
    padding: 18px 0 17px;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.5s cubic-bezier(0.005, 0.025, 0.045, 1.015);
    transition: all 0.5s cubic-bezier(0.005, 0.025, 0.045, 1.015);
    text-decoration: none;
    color: #FFF;
}

.pdf-button span, .whitepaper_pdf_btn span, .cooperation_link_btn span {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 1.83333;
    letter-spacing: 0.2em;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    display: inline-block;
    -webkit-transition: all 0.5s cubic-bezier(0.005, 0.025, 0.045, 1.015);
    transition: all 0.5s cubic-bezier(0.005, 0.025, 0.045, 1.015);
}

.btn-deco {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-deco > div:first-child {
    top: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
}
.btn-deco > div:nth-child(2) {
    top: 0;
    right: -1px;
    width: 1px;
    height: 100%;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
}
.btn-deco > div:nth-child(3) {
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
}
.btn-deco > div:nth-child(4) {
    top: 0;
    left: -1px;
    width: 1px;
    height: 100%;
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
}

.btn-deco > div {
    background-color: currentColor;
    -webkit-transition: all 0.5s cubic-bezier(0.005, 0.025, 0.045, 1.015);
    transition: all 0.5s cubic-bezier(0.005, 0.025, 0.045, 1.015);
    position: absolute;
}

.btn-deco:hover > div {
    transform: none !important;
    -webkit-transform: none !important;
}

.subtitle span {
    margin-right: 8px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 1.68px;
    opacity: 0.8;
}

.subtitle span:not(:last-child) {
    margin-right: 3px;
}

.triangle { 
    position: relative;
    display: inline-block;
    margin-right: 20px;
    width: 20px;
    top: 3px;
}
.triangle>div { 
    width: 20px;
    height: 1px;
    background: #FFF;
}

.triangle>div:before {
    content: " ";
    display: block;
    width: 20px;
    height: 1px;
    background: #FFF;
    -webkit-transform: rotate(56deg);
    -moz-transform: rotate(56deg);
    -ms-transform: rotate(56deg);
    transform: rotate(56deg);
    position: absolute;
    top: -8px;
    right: -5px;
}
.triangle>div:after {
    content: " ";
    display: block;
    width: 20px;
    height: 1px;
    background: #FFF;
    -webkit-transform: rotate(-56deg);
    -moz-transform: rotate(-56deg);
    -ms-transform: rotate(-56deg);
    transform: rotate(-56deg);
    position: absolute;
    top: -8px;
    left: -5px;
}

.spotlight {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    color: white;
    padding-top: 10px;
}


@media (min-width: 768px) {
    .spotlight {
        padding-top:10px;
    }
}

#main_title > span {
    font-size: 42px;
    font-weight: 700;
}

#main_title > span:not(:last-child) {
    margin-right: 20px;
}

.spotlight-center {
    position: absolute;
    top: 50%;
    margin-top: -93px;
    width: 100%;
}

.spotlight-center>.container-fluid>h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.spotlight-center>.container-fluid>p {
    font-size: 20px;
}

.carousel-slide-content:focus {
    outline: none;
}

@media (max-width: 991px) {
    .spotlight-center>.container-fluid>h2 {
        font-size:30px;
    }

    .spotlight-center>.container-fluid>p {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .spotlight-center {
        margin-top:-150px;
    }

    .spotlight-center>.container-fluid>h2 {
        font-size: 24px;
        line-height: 1.5;
    }

    .spotlight-center>.container-fluid>p {
        font-size: 16px;
        padding: 0 30px;
    }

    .slick-dots li.slick-active button:before,.slick-dots li button:hover:before,.slick-dots li button:focus:before {
        color: #34FEFE;
    }

    #main_title > span {
        font-size: 18px;
        font-weight: 700;
        height: 18px;
        letter-spacing: 1.68px;
        line-height: 18px;
    }

    .subtitle span {
        font-size: 12px;
        font-weight: 500;
        height: 12px;
        letter-spacing: 1.68px;
        line-height: 18px;
    }
}



.random-animate {
    animation-timing-function: cubic-bezier(0.005, 0.025, 0.045, 1.015);
}

.whitepaper-btn, #cooperation .cooperation_btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.cooperation_btn > div {
    padding: 20px 0;
}