/* 菜单 */
.nav-theme.navbar-nav>li {
    display: block;
    margin: 0 0 31px;
}
.nav-theme.navbar-nav>li>a {
    display: block;
    position: relative ;
    padding: 0 0 0 40px;
}

.nav-theme.navbar-nav>li.active>a:after, .nav-theme.navbar-nav>li:hover>a:after {
    opacity: 1 !important;
    visibility: visible !important;
}

.nav-theme.navbar-nav>li>a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 7px;
    width: 1px;
    height: 100%;
    background-color: #FFF;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s cubic-bezier(0.005, 0.025, 0.045, 1.015);
    transition: all 0.5s cubic-bezier(0.005, 0.025, 0.045, 1.015);
}

.nav-theme.navbar-nav>li.active>a>i, .nav-theme.navbar-nav>li:hover>a>i {
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    opacity: 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-theme.navbar-nav>li>a>i {
    -webkit-transition: all 0.5s cubic-bezier(0.005, 0.025, 0.045, 1.015);
    transition: all 0.5s cubic-bezier(0.005, 0.025, 0.045, 1.015);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-theme.navbar-nav>li.active>a>span, .nav-theme.navbar-nav>li:hover>a>span {
    color: #FFF !important;
}





.nav-theme.navbar-nav>li>a>span {
    position: relative;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.3em;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.5s cubic-bezier(0.005, 0.025, 0.045, 1.015);
    transition: all 0.5s cubic-bezier(0.005, 0.025, 0.045, 1.015);
}

.bacter-theme {
    background-color: transparent;
    border-width: 0px;
}

.bacter-theme .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 40px;
    padding-left: 40px;
}

.navbar-default.bacter-theme .navbar-collapse {
    border-color: transparent;
}

.navbar-title {
    font-size: 18px;
    margin-left: 15px;
    color: #FFF;
}

.nav-theme.navbar-nav>li>a>span::after, .nav-theme.navbar-nav>li>a>span::after {
    display: none;
    content: '';
    position: absolute;
    top: 13px;
    left: -5%;
    width: 110%;
    height: 2px;
    background-color: #FFF;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: all 0.5s cubic-bezier(0.005, 0.025, 0.045, 1.015);
    transition: all 0.5s cubic-bezier(0.005, 0.025, 0.045, 1.015);
}

.nav-theme.navbar-nav>li.active>a>span::after, .nav-theme.navbar-nav>li:hover>a>span::after {
    transform: scale(1);
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav>li>a {
        /* height: auto; */
        width: auto;
        line-height: 43px;
        font-size: 16px;
    }

    .nav-theme.navbar-nav>li {
        display: list-item;
    }

    .nav-theme.navbar-nav>li>a {
        text-align: center;
        display: block;
        position: relative;
        padding: 0;
    }

    .nav-theme.navbar-nav>li>a:after {
        display: none;
    }

    .nav-theme.navbar-nav>li>a>i {
        display: none;
    }

    .bacter-theme, .bacter-theme .navbar-header {
        /* background-color: black; */
    }

    .navbar-title {
        display: none;
    }

    .nav-theme.navbar-nav>li>a>span::after, .nav-theme.navbar-nav>li>a>span::after {
        top: 6px;
        display: block;
    }

    .nav-theme.navbar-nav>li>a>span {
        font-size: 15px;
        letter-spacing: 1.5px;
        line-height: 1;
        font-weight: 700;
    }
}

.nav-theme.navbar-nav>li.left-nav-login {
    display: none;
}

.nav-theme.navbar-nav>li.left-nav-logout {
    display: none;
}

@media screen and (max-width: 767px) {
    .nav-theme.navbar-nav>li.left-nav-login {
        display: block;
    }

    .nav-theme.navbar-nav>li.left-nav-logout {
        display: block;
    }

    .navbar-header {
        z-index: 1;
        position: fixed;
        width: 100%;
    }

    .bacter-theme .navbar-collapse {
        background: black;
        height: 100vh;
        position: relative;
        top: -60px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .collapse.in {
        display: flex;
    }

    /* .bacter-theme .navbar-collapse.collapse {
        display: none;
    } */

    .bacter-theme .navbar-collapse li {
        z-index: 0;
        visibility: inherit;
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 0, 0);

    }
}


.navbar-toggle {
    border: none;
    background: transparent!important;
}

.navbar-toggle:hover {
    background: transparent!important;
}

.navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s;
}

.navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
    opacity: 0;
}

.navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}

.navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle:focus,.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.card-head {
    margin-top: 80px;
    text-align: center;
}